body
{   font-family: sans-serif;
    font-family: Times New Roman;
    background-color: #000000;
    color: #ffffff;
}
h1{
   font-size: 64px;
   padding: 10px; 
   text-align: center;
}

h2 {
    font-size: 32px;
    text-shadow: 4px 4px 2px #808080;
}

p{
    font-size: 24px;
    padding: 0px;
    padding-top: 15px;
}

img{
  display: block;
  margin: auto;
  width: 550px;
}
div{
    min-height:150px;
    padding: 25px;
}

#red{
    background-color: #ff0000;
    text-align: right;
}

#blue{
    background-color: #0026ff;
    text-align: left;
}

#yellow{
    background-color: #ffd800;
    text-align: right;
}

#yellow h2, #yellow p{
    color: #000000;
}

#yellow h2{
    text-shadow: 4px 4px 2px #c7e2c7;
}

#green {
    background-color: #008000;
    text-align: left;
}

footer p{
    text-align: center;
    padding: 0px 10px 10px 0px;
}